// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #104C59;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: rgba(191, 91, 3, 1);
$yellow: rgba(242, 159, 4, 1);
$green: #38c172;
$teal: rgba(110, 191, 161, 1);
$cyan: rgb(108, 186, 204);
