// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Material Design Iconic Font
@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css');


//size
.h-screen{
    height: 90vh;
}

//colors
.color1{
    background-color: rgba(110, 191, 161, 1) !important;
}
.color2{
    background-color: rgba(242, 235, 215, 1) !important;
}
.color3{
    background-color: rgba(242, 159, 4, 1) !important;
}
.color4{
    background-color: rgba(191, 91, 3, 1) !important;
}
.color5{
    background-color: rgba(216, 60, 4, 1) !important;
}
.color6{
    background-color: rgb(108, 186, 204) !important;
}
.color7{
    background-color: #104C59 !important;
}

//gradients
.bg-gradientblue{
    background-color: linear-gradient(to left, rgb(108, 186, 204), rgba(110, 191, 161, 1)) !important; 
}

//btn's
.btn-6{
    background-color: rgb(108, 186, 204);  
    color: #104C59;
}
.btn-6:hover{
    background-color: #104C59;
    color: rgb(108, 186, 204);
}

//Recipes
.recipe-info ul li {
    color: #666;
    display: inline-block;
    font-size: 13px;
    margin-right: 28px;
    position: relative;
}
.recipe-info ul li::after {
    background-color: #b6b6b6;
    content: "";
    font-size: 8px;
    height: 13px;
    position: absolute;
    right: -17px;
    top: 3px;
    width: 2px;
}
.recipe-info ul li:last-child::after {
    content: none;
}
.recipe-info ul li:last-child {
    margin-right: 0px;
}
.recipe-info ul li a {
    color: #666;
    font-size: 13px;
}
.recipe-info ul li a:hover {
    color: #383838;
}
.recipe-img{
    filter: drop-shadow(1px 1px 3px #444);
}


@media (min-width: 768px){
    .bd-navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1071;
    }
}

@media (max-width: 991.98px){
    .bd-navbar {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .bd-navbar {
        min-height: 4rem;
        background-color: #563d7c;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    }
}


@media (min-width: 768px){
    .flex-md-row {
        -ms-flex-direction: row!important;
        flex-direction: row!important;
    }
}
